clip_parser.egg-info/top_level.txt
__pycache__/range_expand.cpython-37.pyc
__pycache__/rexp.cpython-37.pyc
clip_parser/__pycache__/__main__.cpython-37.pyc
clip_parser/__pycache__/clip_parser.cpython-37.pyc
clip_parser/__pycache__/rexp.cpython-37.pyc
clip_parser.egg-info/dependency_links.txt
clip_parser.egg-info/PKG-INFO
clip_parser.egg-info/requires.txt
clip_parser.egg-info/SOURCES.txt
